<html>

<head>
	<title>Diggit!</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css">

	<style type="text/css">

		
		.searchbar {

		}
		.username-header {
			font-weight: bold;
			font-size: 28px;
			vertical-align: middle;
		}
		.logout-header {
			font-size: 14px;
			vertical-align: middle;
			color: #dddddd;
		}
		.logout-header a {
			color: #dddddd;
		}
		.footer p {
            font-size: 16px;
            color: #cccccc;
        }
        .footer a {
            color: #bbbbff;
        }
        .searchbar {
        	padding-bottom: 10px
        }

	</style>
</head>

<body>
	
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner container-fluid nav-elements">
	
			{% if user.is_authenticated %}
			<a href="{% url 'profile' slug=user.username %}" class="username-header">{{ user.username }}</a><span class="logout-header">(<a href="{% url 'logout' %}">Logout</a>)</span>
			{% else %}
			<ul class="nav">
			<li><a href="{% url 'registration_register' %}">Sign up</a></li>
			<li><a href="{% url 'login' %}">Login</a></li>
			</ul>
			{% endif %}
			<a href="{% url 'home' %}">Home</a>
			<form class="searchbar">
				<input type="text" class="search-query pull-right" placeholder="Search" id="searchbar">
			</form>	
			
		</div>
	<div class="offset1">
		<h1 class="">Diggit!</h1>
		{% block content %}
		{% endblock %}
	</div>

	<div class="navbar navbar-fixed-bottom footer">
    	<div class="span12">
    		<p>This work is licensed under the <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC By-SA 3.0</a>. Be nice and drink tea.</p>
   		</div>
   	</div>
</body>
</html>
