{% extends "base.html" %}

{% block content %}

<style type="text/css">
	.link-detail h2{
		font-size: 24px;
	}
	.link-detail p {
		font-size: 20px;
		color: #bbbbbb;
	}
	.link-submitter p {
		color: #bbbbbb;
	}
	.buttons {
		margin-top: 20px;
	}
</style>

<div class="hero-unit">
	<div class="link-detail">
		<h2>
			<a href="{{ object.link }}">{{ object.title }}</a>
			<small class="link-submitter">  -  Submitted by <a href='{% url "profile" slug=object.submitter%}'>{{ object.submitter }}</a></small>
		</h2>

		<div class="desc">
		{{ object.description }}
		</div>
	</div>
	<div class="buttons">
		{% if object.submitter == user %}
			<button class="btn">
				<a href="{% url 'link_update' pk=object.pk %}">Edit</a>
			</button>
			<button class="btn">
				<a href="{% url 'link_delete' pk=object.pk %}">Delete</a>
			</button>
		{% endif %}
	</div>
</div>
{% endblock %}
