{% extends "base.html" %}

{% block content %}

	<div class="links-div">
		<ol>
		{% for link in object_list %}
			<li> 
				<span> [{{ link.votes }}] </span>
				<a href="{{ link.url }}">
				<span class="title"> {{ link.title }} </span>
				</a>
			</li>
		{% endfor %}
		</ol>
	</div>
		
	{% if is_paginated %}
	<div class="pagination">
		{% if page_obj.has_next %}
		<a href="?page={{ page_obj.next_page_number }}"><button class="btn">More &raquo;</button></a>
		{% endif %}
	</div>
	{% endif %}
	
{% endblock %}